<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link th:href="@{/css/bootstrap.css}" rel="stylesheet" href="../static/css/bootstrap.css"/>
        <script th:src="@{/js/jquery.js}" src="../static/js/jquery.js"></script>
        <script th:src="@{/js/bootstrap.js}" src="../static/js/bootstrap.js"></script>
        <title>index</title>
    </head>
    <body>
        <!--Nav-->
        <nav class="navbar navbar-expand-lg navbar-light bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/}" href="#">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Galeria</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Post</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown link
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="row">
                <!--Cards-->
                <div th:each="post : ${posts}" class="col-3">
                    <div class="card" style="width: 18rem;">
                        <!--<img th:src="${post.urlImg}" src="../static/imgweb/eva.jpg" class="card-img-top" alt="...">-->
                        <div class="card-body">
                            <h5 th:text="${post.Titulo}" class="card-title">Nombre</h5>
                            <p th:text = "${post.Id}">id</p>
                            <p th:text = "${post.grupoName}">asignatura</p>
                            <p th:text="${post.Contenido}" class="card-title">Contenido</p>
                            <p th:text="${post.usuarioName}" class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                           <!--<a th:href="@{/index/post?usuid=} + ${post.Id}" class="btn btn-primary">Go somewhere</a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>