<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" href="../static/css/bootstrap.css"/>
    <script th:src="@{/js/jquery.js}" src="../static/js/jquery.js"></script>
    <script th:src="@{/js/bootstrap.js}" src="../static/js/bootstrap.js"></script>

    <title>Login</title>
</head>
<body>
<div class="container">

    <h1 class="text-center my-5">Login</h1>
    <form action="#" th:action="@{/vista/Postlogin}" method="POST">
        <div class="mb-3">
            <label for="username" class="form-label">Nombre del Usuario</label>
            <input type="text" class="form-control" id="username" name="username" required>

            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <input type="submit" class="btn btn-primary" value="Iniciar sesión" />
    </form>
</div>

</body>
</html>